In [15]:
import pandas as pd
from pandas import DataFrame as df

In [9]:
# Pandas Series 
## diff between loc and iloc
sports = pd.Series({'aa':'a', 'bb':'b', 'cc':'c', 'dd':'d'})
print(sports.iloc[0])
print(sports.loc['aa'])

a
a

In [12]:
# adding a new line
sports.loc["Football"] = 1

In [13]:
sports

aa          a
bb          b
cc          c
dd          d
Football    1
dtype: object

In [18]:
## Pandas DataFrame
line1 = pd.Series({"name": "Harris", "purchase":"book", "cost": 10})
line2 = pd.Series({"name": "John", "purchase":"cup", "cost":5})
line3 = pd.Series({"name": "Mike", "purchase": "milk", "cost":3})
df01 = df([line1, line2, line3], index=["customer1", "customer2", "customer3"])
df01.head()

             name purchase  cost
customer1  Harris     book    10
customer2    John      cup     5
customer3    Mike     milk     3

In [38]:
print(df01.loc['customer1'].to_list()) #lock a row
print(df01['name'].to_list()) #lock a column
print(df01.loc['customer1','name']) # lock a cell way 1
print(df01.loc['customer1']['name'])# lock a cell way 2

['Harris', 'book', 10]
['Harris', 'John', 'Mike']
Harris
Harris

In [55]:
## boolean mask
df02 = df01.where((df01["cost"] > 3) & (df01["cost"] < 20))
df02.dropna()

             name purchase  cost
customer1  Harris     book  10.0
customer2    John      cup   5.0

In [56]:
'''
Set index by using mutiple columns
df.set_index([column1, column2])

To keep a list of columns, 1) set a list of columns, 2) df = df[the list]
'''

'\nSet index by using mutiple columns\ndf.set_index([column1, column2])\n\nTo keep a list of columns, 1) set a list of columns, 2) df = df[the list]\n'

In [ ]:
## pandas.series.idxmax() 
## should passing a series, returns the first occurance of idx of max element